# ShellCheck configuration
# https://www.shellcheck.net/

# Disable SC1090 (can't follow non-constant source)
disable=SC1090

# Disable SC1091 (not following sourced file)
disable=SC1091

# Disable SC2086 (double quote to prevent globbing)
disable=SC2086

# Tell shellcheck where to find sourced files
source-path=SCRIPTDIR
source-path=lib
